form{
    margin: 0px auto;
    width:45%;
    padding:1em;
    border :1px solid;
    
}


form ul{
  list-style-type: none; 
   padding:0px;
   margin:0px;
}
  form ul #len{
    padding-left:9px; 
    width:51%;
    display: inline-flex;

  }

  form ul #expp{
  padding-left:9px;  
  width:30%;
  display: inline-flex;

}

label{
    display: inline-block;
    width:28%;
    text-align: right;
}
input{
    width:50%;
    height:20px;
}
textarea{
    width:50%;
    height:70px;
}
#boton1{

    width:100px;
    height:30px  
}
#boton2{
    width:100px;
    height:30px; 
}
#cajab{
    padding-left:38% ;
}
.letra{
    font-size: 40px;
}
